services:
  psql:
    image: postgres:16-alpine
    container_name: psql
    ports:
      - 54321:5432
    restart: always
    networks:
      - develop
    environment:
        POSTGRES_PASSWORD: password
    volumes:
      - ./init-db:/docker-entrypoint-initdb.d
  mysql:
    image: mysql:8.0
    container_name: mysql-safrs
    command: --default-authentication-plugin=mysql_native_password
    ports:
      - 33061:3306
    restart: always
    networks:
      - develop
    environment:
      MYSQL_ROOT_PASSWORD: password


networks:
  develop:
    name: develop
