-e git+https://github.com/thomaxxl/safrs.git#egg=safrs
Flask-Migrate
psycopg2_binary
gunicorn
pytest
factory-boy
pytest-cov
pyrsistent
flask_httpauth
requests
flask_cors
safrs
SQLAlchemy
fastapi[standard]
